@model object

<div class="row">
    <div class="row">
        @Html.Label("")
    </div>
    <div class="row">
    @{
        string tooltip="";
        if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("Tooltip"))
        {
            tooltip = (string)ViewData.ModelMetadata.AdditionalValues["Tooltip"];
            @Html.TextBoxFor(x => x, new { Value = (Model == null ? "" :  Model.ToString()), @title = tooltip })
        }
        else
        {
            @Html.TextBoxFor(x => x, new { Value = (Model == null ? "" : Model.ToString())})
        }
    }
    </div>
    <div class="row">
        @Html.ValidationMessage("")
    </div>
</div>
