@{
    ViewBag.Title = "About Us";
}
<div class="row">
        <h2>
                About</h2>
        <div class="row">
                <div class="w20 bold">
                        Application Name:
                </div>
                <div class="w40">
                        App Name
                </div>
        </div>
        <div class="row">
                <div class="w20 bold">
                        Application Reference:
                </div>
                <div class="w40">
                        App Reference
                </div>
        </div>
        <div class="row">
                <div class="w20 bold">
                        Version Number:
                </div>
                <div class="w40">
                        App Version No
                </div>
        </div>
</div>
