<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ADUsername" value="dwpadmin" />
    <add key="ADPassword" value="Passw0rd1" />
    <add key="TemporaryFileLocation" value="C:\Temp\"/>
    <add key="DataProvider" value="SasaundeTest" />
  </appSettings>
  <connectionStrings>
    <add name="SasaundeTest" connectionString="Password=SqlAdmin$1;Persist Security Info=True;User ID=sa;Initial Catalog=SasaundeTest;Data Source=10.21.34.166\ADEPDEV" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>